
html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.full-width {
    width: 100%;
}

.main-container {
    padding: 15px;
    border-radius: 10px;
}

.p-l-10 {
    padding-left: 10px;
}

.p-l-15 {
    padding-left: 15px;
}

.p-b-30 {
    padding-bottom: 30px !important;
}

.m-0-a {
    margin: 0 auto;
}

.m-l-15 {
    margin-left: 15px;
}

.m-b-15 {
    margin-bottom: 15px;
}

.m-t-20 {
    margin-top: 20px;
}

.center {
    text-align: center;
}

.initial {
    position: initial;
}

.width-480 {
    max-width: 480px !important;
}

.inline-flex {
    display: inline-flex !important;
}

.vertical-center {
    display: inline-flex;
    align-items: center;
}

.flex-content-center {
    display: flex !important;
    justify-content: center;
}

/* Zoom In #1  (https://codepen.io/nxworld/pen/ZYNOBZ) */
.hover01 {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
